.header,
.body,
.footer{
  padding-left: 5%;
  padding-right: 5%;
}
.main{
  box-shadow: 2px 2px 11px 0 #d7d7d7;
}
.header{
  background-color: #414141;
  color: $white
}
.footer{
  background-color: #F1F1F1;
}
.t-white{
  color: $white;
}
.t-gray{
  color: #949494;
}
.t-dark{
  color: $black;
}
.t-bronze{
  color: $bronze-color;
}
.t-primary{
  color: $primary-color;
}
.border{
  border: 1px solid #E0E0E0;
}
.border-b{
  border-bottom: 1px solid #E0E0E0;
}
.pb-0{
  padding-bottom: 0 !important;
}
.mb-0{
  margin-bottom: 0;
  Margin-bottom: 0;
}
.t-right{
  text-align: right;
}
.fz-14{
  font-size: 14px;
}
.fz-16-18{
  font-size: 16px;
}
.logo{
  max-width: 54px;
}

// == align for layout
.main-title{
  line-height: 1;
  margin-bottom: 16px;
  Margin-bottom: 16px;
}
.header{
  p{
    font-size: 14px;
    margin-bottom: 4px;
    Margin-bottom: 4px;
  }
  .t-large{
    font-size: 16px;
  }
  .order-text{
    padding-top: 7px;
    padding-bottom: 8px;
  }
}
.my-castom{
  margin-top: 16px;
  Margin-top: 16px;
  margin-bottom: 2px;
  Margin-bottom: 2px;
}
.ticket-head .first{
  max-width: 47px;
}
.plane{
  margin-right: 0;
  Margin-right: 0;
  max-width: 34px;
}
.ticket-body{
  padding-left: 18px;
  background-image: url('https://raw.githubusercontent.com/Zakamsky/Zakamsky.github.io/master/files/line-bg.png');
  background-size: 24px auto;
  background-position: -6px top;
  background-repeat: no-repeat;
  p{
    line-height: 1.6;
  }
}

  th.callout-inner{
    padding: 15px !important;
  }

@media only screen and (min-width: 480px) {
  .small-12.large-12.columns.first.last{
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .header .columns {
    padding-bottom: 24px !important;
  }
  body, table.body, p, td, th {
    font-size: 14px !important;
  }
  th.callout-inner{
    padding: 14px !important;
  }

}
@media only screen and (min-width: 596px) {
  .small-12.large-12.columns.first.last{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .header .columns {
    padding-bottom: 34px !important;
  }
  body, table.body, h5, h6, p, td, th {
    font-size: 16px !important;
  }
  h1, h2{
    font-size: 28px !important;
  }
  h3{
    //font-size: 18px;
    font-size: 22px !important;
    padding-top: 7px !important;
  }
  h4{
    font-size: 16px !important;
  }
  .main-title {
    padding-top: 4px !important;
    margin-bottom: 23px !important;
    Margin-bottom: 23px !important;
  }
  .header{
    p{
      font-size: 16px !important;
    }
    .t-large{
      font-size: 20px !important;
      margin-bottom: 8px !important;
      Margin-bottom: 8px !important;
    }
  }
  h3 + .t-bronze{
    padding-bottom: 5px !important;
  }
  .fz-16-18{
    font-size: 18px !important;
  }
  .ticket-body{
    padding-left: 27px  !important;
    background-position: left top  !important;
    background-size: 27px auto  !important;
  }
  table.row.ticket-head{
      .columns{
        padding-bottom: 10px !important;
      }
     th.columns.first {
      max-width: 34px;
      padding-right: 0;
      padding-left: 4px !important;
      padding-top: 4px !important;
    }
    .airlines{
      padding-left: 4px !important;
    }
  }
  th.callout-inner{
    padding: 16px !important;
  }
}

@media only screen and (max-width: 596px) {
  table.body .show-for-large {
    display: none !important;
    width: 0  !important;
    mso-hide: all  !important;
    overflow: hidden  !important;
  }
}