<wrapper class="footer">
    <spacer size="24"></spacer>

    <row>
        <columns small-12>
            <p class="t-primary">
                Внимание!
            </p>
            <p class="t-primary">
                Перед вылетом не забудьте распечатать маршрутную квитанцию, приложенную к данному письму.
            </p>
            <p>
                Для просмотра веб-версии маршрутной квитанции перейдите по ссылке.
                Время вылета и прилета указано местное.
            </p>
            <p>
                Для регистрации и посадки на рейс пассажирам необходимо иметь при себе оригиналы документов.
            </p>
            <p>
                В некоторых аэропортах для прохождения процедуры контроля на посадку может потребоваться маршрутная квитанция, приложенная к письму.
            </p>
            <p>
                В случае неиспользования пассажиром первого полетного участка маршрута, без предварительного отказа от места, последующие участки маршрута будут аннулированы автоматически.
            </p>
            <p>
                Договор перевозки считается заключенным и вступившим в силу с момента покупки авиабилета. Покупкой авиабилета является его оплата и направление Вам письма, содержащего маршрутную квитанцию.

            </p>
            <p class="t-gray">
                В отношении всей перевозки, включая любой ее сегмент, целиком находящийся в пределах территории страны отправления или назначения, могут применяться положения варшавской конвенции, если перевозка имеет пункт назначения или остановку не в стране отправления. Варшавская конвенция может предусматривать, помимо прочего, иные максимальные лимиты ответственности перевозчика за смерть или повреждение здоровья пассажира, или за утрату или повреждение его багажа, по сравнению с применимыми на внутренних перевозках. Смотрите также «извещение пассажира международного рейса об ограничении ответственности» и «уведомление об ограничении ответственности за багаж».
            </p>

        </columns>
    </row>
</wrapper>