<wrapper class="header">
    <spacer size="24"></spacer>
    <row>
        <columns small="12">
            <a href="{{img-link}}" target="_blank">
                <img  src="{{path}}logo.png" width="54" height="15">
            </a>
            <spacer size="24"></spacer>
            <h2 class="t-white">Подтверждение оплаты<br/>заказа</h2>
            <p class="t-white">Заказ</p>
            <p class="t-primary">MNB6XCU</p>

            <p class="t-white">Олпаченно</p>
            <p class="t-primary">32 994 руб.</p>

            <p class="t-white">Дата оплаты</p>
            <p class="t-primary">09.10.19</p>

            <div class="t-white">
                Заказ №
                <span class="t-primary">MNB6XCU</span>
                на сумму
                <span class="t-primary">54 063 Руб</span>
                успешно оплачен. Все необходимые для путешествия документы вы найдете во вложении.
            </div>


        </columns>
    </row>

</wrapper>